_site/*
_theme_packages/*

Thumbs.db
.DS_Store

!.gitkeep

Gemfile.lock
.jekyll-metadata
.rbenv-version
.rvmrc

.Rproj.user

*.Rproj

# knitr aux files
*.tex

!courses/stat401A/syllabus.tex

*.log
*.nav
*.snm
*.synctex.gz
*.toc
*.vrb

# LaTeX auxiliary files
*.aux
*.out

# R auxiliary files
*.Rhistory

*cache/
*figure/

# derivative figure directories
courses/stat401A/slides/figure
courses/stat544/slides/figure
courses/stat615/slides/figure

# some particular files
courses/stat544/syllabus.pdf
courses/stat544/slides/stat544.zip
courses/stat615/syllabus.pdf
courses/stat615/slides/*.pdf
courses/stat615/homework/*.pdf

.bundle/