_site/*
_theme_packages/*

Thumbs.db
.DS_Store

!.gitkeep

.rbenv-version
.rvmrc

.Rproj.user

*.Rproj

# knitr aux files
*.tex

!courses/stat401A/syllabus.tex

*.log
*.nav
*.snm
*.synctex.gz
*.toc
*.vrb

# LaTeX auxiliary files
*.aux
*.out

# R auxiliary files
*.Rhistory

# derivative figure directories
courses/stat401A/slides/figure
